.product-container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  border: 1px solid ghostwhite;
  margin-top: 30px;
  padding-top: 20px;

}

.product_info {
  border:1px solid #ddd;
   padding: 1rem;
   border-radius: 4px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 18px;
}

.product_img {
  width: 100%; 
  height: 180px; 
  object-fit: cover;
  border: none;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
  margin-top: 0 auto;
}

.texts {
  text-align: center;
}

.check_line_height {
  line-height: 1;
}

