.product-container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  margin: 0 auto;

}

.product-container img {
  width: 250px;
  height: auto;
  display: block;
  object-fit: contain;
  object-position: center;
}

.product-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flash-alert {
  background-color: #ffe0e0;
  color: #a33;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #f5c2c2;
  border-radius: 4px;
  position: relative;
  width: 450px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #a33;
}
