.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.product-container img {
  width: 250px;
  height: auto;
  display: block;
  object-fit: contain;
  object-position: center;
}

.product-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}